/*
 * Styles for body section
 */
body 
{
	background-color: #ebebeb; /* Background color of the entire body of the web-page */
}

/*
 * Styles for author name element
 */
#name
{
	font-family: monospace; /* Default Font Family Monospace in family */
	font-weight: bold; /* Italic font style */
	color: black;
	
	display: inline;
}

/*
 * Styles for navbar list
 */
#navul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: right; /* Float towards right end of the parent container */
		
	display: inline-block;	
}

/*
 * Styles for each element in the navbar list
 * grouped under class navele
 */
.navele
{
	text-align: center;
	border: 3px solid black;
	color: black;
	padding: 10px;
	margin-right: 10px;

	display: inline;
}

/*
 * Styles on navele on hover
 */
.navele:hover
{
	background-color: black;
	color: #ebebeb;
}

/*
 * Styles for anchors on navbar
 */
.navanc
{
	text-decoration: none;
}

/*
 * Styles addressing the entire navbar
 */
#navbar
{
	margin-top: 2vh;
}

/*
 * Styles for image block
 */
#img_block
{
	width: 369px;
	height: 369px;
	border: solid 3px black;
}

/*
 * Styles for img_section
 */
.img_div
{
	margin-top : 5%;
	margin-left: 15%;

	display: flex;
	flex-direction: row;
}

/*
 * Styles for textblock
 */
.text
{
	margin-left: 2vw;
	margin-top: 0%;
	margin-right: 8vw;

	display: inline-block;
}
/*
 * Styles for contact block
 */
#contact_block
{
	display:flex;
	flex-direction: row;
	justify-content: center;
	
	margin-top: 10vh;

}

/*
 * Media Query for Screen Size < 600 px (Mobile Phones)
 */
@media(max-width: 780px)
{
	#navul
	{
		display:none;
	}
	
	.img_div
	{
		flex-direction: column;
		align-items: center;

		margin-top: 5vh;
	}
	
	#img_block
	{
		width: 90%;
		height: auto;
	}
	.text
	{
		display: block;

		margin-left: auto;
		margin-right: 10vw;
		margin-top: 5vh;
	}

	#contact_block span
	{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: auto;
	}
	#contact_block
	{
		display: flex;
		flex-direction: column;
		justify-content: center;

		gap: 15px;
	}
}
