/*
 * Styles for body section
 */
body 
{
	background-color: #ebebeb; /* Background color of the entire body of the web-page */
}

/*
 * Styles for author name element
 */
#name
{
	font-family: monospace; /* Default Font Family Monospace in family */
	font-style: bold; /* Italic font style */
	color: black;
	
	display: inline;
}

/*
 * Styles for navbar list
 */
#navul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: right; /* Float towards right end of the parent container */
		
	display: inline-block;	
}

/*
 * Styles for each element in the navbar list
 * grouped under class navele
 */
.navele
{
	text-align: center;
	border: 3px solid black;
	color: black;
	padding: 10px;
	margin-right: 10px;

	display: inline;
}

/*
 * Styles on navele on hover
 */
.navele:hover
{
	background-color: black;
	color: #ebebeb;
}

/*
 * Styles for anchors on navbar
 */
.navanc
{
	text-decoration: none;
}

/*
 * Styles addressing the entire navbar
 */
#navbar
{
	margin-top: 1.5%;
}

/*
 * Styles for image block
 */
#img_block
{
	width: 369px;
	height: 369px;
	border: solid 3px black;
}

/*
 * Styles for img_section
 */
.img_div
{
	margin-top : 5%;
	margin-left: 15%;

	display: flex;
	flex-direction: row;
}

/*
 * Styles for textblock
 */
.text
{
	margin-left: 2vw;
	margin-top: 8%;
	margin-right: 8vw;

	float: right;
	display: inline-block;
}
/*
 * Styles for contact block
 */
#contact_block
{
	display:flex;
	flex-direction: row;
	justify-content: center;
	
	margin-top: 10vh;

}
