/*
 * Styles for body section
 */
body 
{
	background-color: #5e5e5d; /* Background color of the entire body of the web-page */
}

/*
 * Styles for name element
 */
#name
{
	font-family: monospace; /* Default Font Family Monospace in family */
	font-style: bold; /* Italic font style */
	color: cyan;
	
	display: inline;
}

/*
 * Styles for navbar list
 */
#navul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: right; /* Float towards right end of the parent container */
		
	display: inline-block;	
}

/*
 * Styles for each element in the navbar list
 * grouped under class navele
 */
.navele
{
	background-color: #44434d;
	text-align: center;
	border: 3px solid black;
	color: cyan;
	padding: 10px;
	margin-right: 10px;

	display: inline;
}

/*
 * Styles on navele on hover
 */
.navele:hover
{
	background-color: cyan;
	color: black;
}

/*
 * Styles for anchors on navbar
 */
.navanc
{
	text-decoration: none;
}

/*
 * Styles addressing the entire navbar
 */
#navbar
{
	margin-top: 1.5%;
}

/*
 * Styles for image block
 */
#img_block
{
	width: 369px;
	height: 369px;
}

/*
 * Styles for img_section
 */
.img_div
{
	margin-top : 5%;
	margin-left: 15%;

	display:inline-block;
}
